body {
  padding: 0;
  margin: 0;
}

#map {
  position: relative;
  height: 100%;
  width: 100vw;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

#loading {
  position: fixed;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  background-color: #000000;
  z-index: 9900;
}

.progress {
  position: fixed;
  height: 150px;
  width: 250px;
  top: 50%;
  left: 50%;
  margin: -75px 0 0 -125px;
  text-align: center;
  opacity: 1;
  background-color: #111111;
  color: #eeeeee;
  z-index: 10000;
}

#barContainer {
  margin: 0 auto;
  width: 200px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9899;
}

li {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
  cursor: pointer;
}

li:hover:not(.active) {
  background-color: #111111;
}

li:hover:is(.active) {
  background-color: #00794c;
}

.tool {
  background-color: #222222;
}

.active {
  background-color: #04aa6d;
}

#info {
  position: absolute;
  height: 600px;
  width: 350px;
  top: 50%;
  left: 50%;
  margin: -300px 0 0 -177px;
  padding: 6px;
  border-radius: 5px;
  text-align: left;
  opacity: 1;
  color: #eeeeee;
  background-color: #222222;
  z-index: 9997;
  display: none;
}

#densityInfo {
  position: absolute;
  height: 550px;
  width: 300px;
  top: 50%;
  left: 50%;
  margin: -275px 0 0 -152px;
  padding: 6px;
  border-radius: 5px;
  text-align: left;
  opacity: 1;
  color: #eeeeee;
  background-color: #222222;
  z-index: 9998;
  box-shadow: 0px 0px 10px #cccccc;
  display: none;
}

#tools {
  position: absolute;
  height: 400px;
  width: 300px;
  top: 50%;
  left: 50%;
  margin: -275px 0 0 -152px;
  padding: 6px;
  border-radius: 5px;
  text-align: left;
  opacity: 1;
  color: #eeeeee;
  background-color: #222222;
  z-index: 9995;
  display: none;
}

#townless {
  position: absolute;
  height: 500px;
  width: 350px;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -177px;
  padding: 6px;
  border-radius: 5px;
  text-align: left;
  opacity: 1;
  color: #eeeeee;
  background-color: #222222;
  z-index: 9996;
  display: none;
}

#hideBtn {
  position: absolute;
  background-color: #3f51b5;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  cursor: pointer;
  margin: 0 auto;
  bottom: 2%;
  left: 40%;
}

.popGrad {
  width: 294px;
  height: 24px;
  background-image: linear-gradient(
    90deg,
    rgba(204, 0, 0, 1) 0%,
    rgba(255, 102, 0, 1) 25%,
    rgba(204, 255, 0, 1) 50%,
    rgba(0, 255, 0, 1) 75%,
    rgba(0, 136, 0, 1) 100%
  );
}

.denGrad {
  width: 294px;
  height: 24px;
  background-image: linear-gradient(
    90deg,
    rgba(85, 0, 0, 1) 0%,
    rgba(255, 0, 0, 1) 25%,
    rgba(255, 204, 0, 1) 50%,
    rgba(102, 255, 0, 1) 75%,
    rgba(0, 119, 0, 1) 100%
  );
}

.grGrad {
  width: 294px;
  height: 24px;
  background-image: linear-gradient(
    90deg,
    rgba(238, 0, 0, 1) 0%,
    rgba(238, 0, 0, 1) 49%,
    rgba(0, 238, 0, 1) 50%,
    rgba(0, 238, 0, 1) 100%
  );
}

.nbGrad {
  width: 294px;
  height: 24px;
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 51, 0, 1) 20%,
    rgba(255, 204, 0, 1) 40%,
    rgba(102, 204, 0, 1) 60%,
    rgba(0, 153, 0, 1) 75%,
    rgba(0, 187, 238, 1) 85%,
    rgba(40, 44, 166, 1) 100%
  );
}

.natpopGrad {
  width: 294px;
  height: 24px;
  background-image: linear-gradient(
    90deg,
    rgba(225, 223, 206, 1) 0%,
    rgba(204, 211, 146, 1) 25%,
    rgba(183, 199, 109, 1) 50%,
    rgba(126, 178, 102, 1) 75%,
    rgba(81, 169, 109, 1) 100%
  );
}

#legend {
  background-color: #eeeeee;
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 50px;
  z-index: 9898;
  display: none;
}

#hint {
  background-color: #333333;
  color:#eeeeee;
  padding: 2px;
  position: fixed;
  top: 0;
  right: 0;
  width: 350px;
  height: 20px;
  z-index: 9898;
  display: none;
}

#left {
  left: 0;
  position: absolute;
}
#left-middle {
  left: 25%;
  position: absolute;
}
#middle {
  left: 45%;
  position: absolute;
}
#middle-right {
  right: 25%;
  position: absolute;
}
#right {
  right: 0;
  position: absolute;
}

.gradBox {
  position: absolute;
  width: 294px;
  height: 24px;
  padding: 3px;
  bottom: 0;
}

a {
  text-decoration: none;
}

#townlessCtn {
  padding: 4px;
  margin: 2px;
  height: auto;
  width: auto;
  border-radius: 2px;
  background-color: #444444;
  display: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#townlessList {
  padding: 2px;
  font-size: 90%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
